.details label {
    font-weight: bold;
}

.with-newlines {
    white-space: pre-wrap;
}

.smallFontSize {
    font-size: 12px;
}

.centered {
    text-align: center;
}

/* table component */
.list-view-subject {
    width: 500px;
    display: flex
}

/* attachment component */
.support-attachment .found-resources {
    height: 200px!important;
    margin-bottom: 0;
    padding-bottom: 0;
}

.found-resources input[ng-model="linker.resource.title"]{
    display: none!important;
}

/*Centrage label ticket 10892*/
.two.cell.center{
    text-align: end;
    padding-right: 20px;
}

.align-button{
    padding-left:207px;
}

/*Pagination ticket CO-898*/
.center {
    text-align: center;
}

.pagination {
    font-size: 14px;
    padding: 0;
}

.pagination .page {
    display: inline-block;
    border: 1px solid #ddd;
    padding: 6px 12px;
    margin: 0 4px;
    transition: background-color .3s;
    text-align: center;
}

.pagination li:hover {
    color: #FF8500;
}

.pagination .active, .pagination .active:hover {
    background-color: #FF8500;
    color: white;
    border: 1px solid #FF8500;
}

.pagination li:hover:not(.active) {background-color: #ddd;}

.search-bar {
    border-radius: 50px;
    height: 50px;
    box-shadow: 0 0 5px grey;
    background-color: white;
    display: flex;
    align-items: center;
}
.search-input {
    margin-bottom: 0 !important;
    border: unset !important;
    box-shadow: none;
}
.min-width-search-bar{
    min-width: 310px;
}

